extends layout

block content
  h1= '¡Bienvenido a mi portafolio!'
  h2= 'Acerca de mí'
  p= informacionPersonal.descripcion
  br

  h2= 'Mis Proyectos'
  ul
    each proyecto in informacionPersonal.proyectos
      li
        h3= proyecto.nombre
        p= proyecto.descripcion
        br

  br
  a(href='/'+informacionPersonal.id+ '/skills') Ver mis habilidades
